@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 55, 74, 53;
    --background-rgb: 182, 255, 173;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
